<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Estatus de Planta</h5>
      <p class="card-text">Recipientes Ocupados: {{totalTanks}}</p>
      <p class="card-text">Porcentaje On-Time: {{getPercentage(semaphoreGreen)}}% ({{semaphoreGreen}})</p>
      <p class="card-text">Porcentaje Advertencia: {{getPercentage(semaphoreYellow)}}% ({{semaphoreYellow}})</p>
      <p class="card-text">Porcentaje con Retraso: {{getPercentage(semaphoreRed)}}% ({{semaphoreRed}})</p>
    </div>
  </div>
<div class='container'>
    <table>
        <tbody>
            <!-- FIRST Vertical Spacer -->
            <div>
                <tr>
                    .
                </tr>
                <tr>
                    .
                </tr>
                <tr>
                    .
                </tr>
                <tr>
                    .
                </tr>
                <tr>
                    .
                </tr>
                <tr>
                    .
                </tr>
                <tr>
                    .
                </tr>
                <tr>
                    .
                </tr>
                <tr>
                    .
                </tr>
                <tr>
                    .
                </tr>
                <tr>
                    .
                </tr>
                <tr>
                    .
                </tr>
                <tr>.</tr>



            </div>
            <!-- BEGINS FIRST ROW -->
            <div>
                <tr>
                    <td>..................</td>
                    <td>
                        <button type="button" class="btn btn-{{ getStatus('AG22417') }} btn-sm" routerLink="/detail/AG22417">
                            AG 22417
                        </button>
                      </td>
                      <td>......</td>
                      <td>
                        <button type="button" class="btn btn-{{ getStatus('AG22416') }} btn-sm" routerLink="/detail/AG22416">
                            AG 22416

                        </button>
                      </td>
                      <td>.........................</td>
                      <td>
                        <button type="button" class="btn btn-{{ getStatus('AG22409') }} btn-sm" routerLink="/detail/AG22409">
                            AG 22409

                        </button>
                      </td>
                      <td>..</td>
                      <td>
                        <button type="button" class="btn btn-{{ getStatus('AG22405') }} btn-sm" routerLink="/detail/AG22405">
                            AG 22405

                        </button>
                      </td>
                      <td>..</td>
                      <td>
                        <button type="button" class="btn btn-{{ getStatus('AG22411') }} btn-sm" routerLink="/detail/AG22411">
                            AG 22411

                        </button>
                      </td>
                      <td>..</td>
                      <td>
                        <button type="button" class="btn btn-{{ getStatus('AG22406') }} btn-sm" routerLink="/detail/AG22406">
                            AG 22406

                        </button>
                      </td>
                      <td>..</td>
                      <td>
                        <button type="button" class="btn btn-{{ getStatus('AG22412') }} btn-sm" routerLink="/detail/AG22412">
                            AG 22412

                        </button>
                      </td>
                      <td>.................</td>
                      <td>
                        <button type="button" class="btn btn-{{ getStatus('AG22413') }} btn-sm" routerLink="/detail/AG22413">
                            AG 22413

                        </button>
                      </td>
                      <td>...</td>
                      <td>
                        <button type="button" class="btn btn-{{ getStatus('AG22407') }} btn-sm" routerLink="/detail/AG22407">
                            AG 22407

                        </button>
                      </td>
                      <td>..</td>
                      <td>
                        <button type="button" class="btn btn-{{ getStatus('AG22414') }} btn-sm" routerLink="/detail/AG22414">
                            AG 22414

                        </button>
                      </td>
                      <td>..</td>
                      <td>
                          <button type="button" class="btn btn-{{ getStatus('AG22408') }} btn-sm" routerLink="/detail/AG22408">
                          AG 22408

                        </button>
                      </td>
                      <td>..</td>
                      <td>
                        <button type="button" class="btn btn-{{ getStatus('AG22415') }} btn-sm" routerLink="/detail/AG22415">
                            AG 22415

                        </button>
                      </td>
                      
                </tr>
                <tr>
                    .
                </tr>
                <tr>
                    .
                </tr>
                <tr>
                    .
                </tr>
                <tr>
                    .
                </tr>
                <tr>
                    .
                </tr>
                <tr>.</tr>
                <tr>.</tr>

            </div>
        </tbody>
    </table>
</div>